.weather-card {
  margin: 60px auto;
  height: 470;
  width: 450px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.weather-card .top {
  position: relative;
  height: 300;
  width: 100%;
  overflow: hidden;
  // background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .temp {
  margin-top: 20px;
}
.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.weather-card.rain .top {
  // background: url("http://img.freepik.com/free-vector/girl-with-umbrella_1325-5.jpg?size=338&ext=jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-113 .top {
    background: url("../assets/img/113.png") no-repeat;
    background-size: cover;
    background-position: center center;
}

.weather-card.weather-code-116 .top {
  background: url("../assets/img/116.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-119 .top {
  background: url("../assets/img/119.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-122 .top {
  background: url("../assets/img/122.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-143 .top {
  background: url("../assets/img/143.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-176 .top {
  background: url("../assets/img/176.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-386 .top {
  background: url("../assets/img/386.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-389 .top {
  background: url("../assets/img/386.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-392 .top {
  background: url("../assets/img/392.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

.weather-card.weather-code-395 .top {
  background: url("../assets/img/395.png") no-repeat;
  background-size: cover;
  background-position: center center;
}