<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col">
      <div class="weather-card weather-code-{{weatherResult.current.weather_code}}">
				<div class="top">
					<div class="wrapper">
						<h1 class="heading mt-3">{{weatherResult.current.weather_descriptions}}</h1>
						<h3 class="location">{{weatherResult.location.name}}, {{weatherResult.location.country}}</h3>
						<p class="temp">
							<span class="temp-value">{{weatherResult.current.temperature}}</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">C</span></a>
            </p>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item"><i class="wi wi-humidity"></i> {{weatherResult.current.humidity}}</li>
              <li class="list-group-item">
                <i class="wi wi-strong-wind"></i> {{weatherResult.current.wind_speed}} km/s
              </li>
              <li class="list-group-item"><i class="wi wi-raindrop"></i>  {{weatherResult.current.precip}} %</li>
            </ul>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>